@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

@import 'reset.scss';

/* css.gg */
@import url('https://css.gg/css');

*{
  font-family: 'Noto Sans JP', sans-serif;
}

.page-header{
  background: #e1e2e3;
  padding: 20px;
}

.content-area{
  background: #a3bef0;
  height: 1500px;
  font-size: 5rem;
  display: flex;
  justify-content:  center;
  align-items: center;
}
.logo{
  font-weight: 700;
  font-size: 2rem;
  transform: scale(.8);
  width: 80px;
}
.logo__sub{
  font-family: 'Dancing Script', cursive;
  font-size: 1.3 rem;
}
h3{
  font-family: 'Dancing Script', cursive;
}

.email-modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.7);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .4s ease-in-out;
  visibility: hidden;
  opacity: 0;
}
.email-modal--visible{
  visibility: visible;
  opacity: 1;
}
.email-modal__close-btn{
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  cursor: pointer;
  background: red;
}
.email-modal .gg-close{
  color: #fff;
}
.gg-close{
  --ggs:2;
}
.email-modal__container{
  background: rgba(29,103,200,1);
  max-width: 700px;
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;

}
.email-modal__info{
  width: 50%;
  padding: 15px;
}
.email-modal__side-img{
  width: 50%;

}